# .env.local
# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3001

NEXTAUTH_SECRET=KJHSD89sdfh8234hksdjfh8234hksdjfh82==
# API Configuration
NEXT_PUBLIC_API_BASE_URL=https://dummyjson.com

# Optional: Enable debug mode
# NEXT_PUBLIC_DEBUG=true
